﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Create Items</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">New Items</h1>
                                        <h2 class="h4 text-gray-900 mb-4">Fill in only the necessary ones</h2>
                                    </div>
                                    <form asp-action="CreateItem" class="user">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">

                                            <label>Choose the quadrant in which items are inserted</label>
                                            <select name="Idq" class="form-control" asp-items="ViewBag.Quadrante">
                                                <option value="" disabled selected>Quadrant</option>
                                            </select>
                                            <br />

                                            <div class="form-group">
                                                <label>Item 1</label>
                                                <input name="d1" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c1" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                            <div class="form-group">
                                                <label>Item 2</label>
                                                <input name="d2" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c2" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                            <div class="form-group">
                                                <label>Item 3</label>
                                                <input name="d3" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c3" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                            <div class="form-group">
                                                <label>Item 4</label>
                                                <input name="d4" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c4" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                            <div class="form-group">
                                                <label>Item 5</label>
                                                <input name="d5" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c5" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                            <div class="form-group">
                                                <label>Item 6</label>
                                                <input name="d6" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c6" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                            <div class="form-group">
                                                <label>Item 7</label>
                                                <input name="d7" class="form-control form-control-user" placeholder="Description" />
                                                <select name="c7" class="form-control" asp-items="ViewBag.Classificacao">
                                                    <option value="" disabled selected>Classification</option>
                                                </select>
                                                <br />
                                            </div>

                                        </div>

                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-primary btn-user btn-block" />
                                            </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="Index">Back</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

</body>

</html>
