﻿@model IEnumerable<Quadrantes_2.Models.Tecnica>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Author
                        </th>
                        <th>
                            Quadrants
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(x=> x.Ativo == true)) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdutilizadorNavigation.Username)
                        </td>
                        <td>
                            <a asp-action="ListDetailsQuadrantes" asp-route-id="@item.Id">Details</a>
                        </td>
                        <td>
                            <a asp-action="LoadComputeResult" asp-route-id="@item.Id">Use</a>
                        </td>
                    </tr>
}
                </tbody>



            </table>
        </div>
    </div>
