﻿@model Quadrantes_2.Models.Utilizador


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form asp-action="Register" class="user">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Username" type="text" class="form-control form-control-user" placeholder="UserName" />
                                        <span asp-validation-for="Username" class="text-danger"></span>

                                        @Html.ValidationMessage("ErroU", new { @style = "color:red" })
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Email" type="email" class="form-control form-control-user" placeholder="Email Address" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        @Html.ValidationMessage("ErroM", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="PassOG" type="password" asp-for="Password" class="form-control form-control-user" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input required id="PassCon" type="password" name="Con" class="form-control form-control-user" placeholder="Repeat Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" onclick="Mostrapass()">
                                            <label class="custom-control-label" for="customCheck">Show Password</label>
                                        </div>

                                        @Html.ValidationMessage("ErroP", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Register Account" class="btn btn-primary btn-user btn-block" />
                                </div>
                            </form>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>
    <script>
        function Mostrapass() {
            var x = document.getElementById("PassOG");
            var y = document.getElementById("PassCon");

            if (x.type == "password" && y.type == "password") {
                x.type = "text";
                y.type = "text";
            } else {
                x.type = "password";
                y.type = "password";
            }
        }

    </script>



</body>

</html>

